
.btn-success{background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);}
.box_1, .box_2, .box_3{padding: 0px}

.box_1{background: #000; color:#fff;}

.box_2{background: #eeeeee;}

.box_3{background: #e41f28; color:#fff;}

.footer-copyright{background:#000; color:#fff;}

